<footer>
<img id="footer-logo" src="/imgs/rocket.png" alt="Rocket Jobs logo">
<div class="footer-content">
    <div class="footer-about">
        <h1>Rocket Jobs</h1>
        <p>Somos a primeira plataforma em Portugal dedicada à disseminação de oportunidades para jovens talentos no mundo das TI.</p>        
    </div>
    <div class="footer-sitemap columns">
        <div class="column">
            <h2>Explora</h2>
            <ul>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li><a href="#">Anunciar</a></li>
                <li><a href="#">Registar</a></li>
                <li><a href="#">Entrar</a></li>
            </ul>
        </div>
        <div class="column">
            <h2>Legal</h2>
            <ul>
                <li><a href="#">Termos</a></li>
                <li><a href="#">Privacidade</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-social">
        <h2>Subscreve</h2>
        <div class="subscription-form">
            <form>
                <input type="text" name="email-subscribe" placeholder="o teu email">
                <button>subscrever</button>
            </form>
        </div>
        <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
        </ul>
    </div>
</div>
</footer>

<script> </script>
<script type="text/javascript" src="/scripts/main.js"></script>
</body>
</html>