<header>
    <nav>
        <a href="/"><img id="logo" src="/imgs/logo.png" alt="Rocket Jobs logo"></a>
        <div>
            <a href="/login">Entrar</a>
            <a href="/jobs/new">Anunciar</a>
        </div>
    </nav>
</header>