@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

//init
@import "base/reset";
@import "base/base";
@import "vendors/bulma";

//modules
@import "modules/header";
@import "modules/footer";
@import "modules/list";
@import "modules/job";
@import "modules/newjob";
@import "modules/login";

