/* header */ 
$color-primary: #ff5050;
$color-grey-bg: #f7f7f7;
$color-grey-bg-border: #e1e1e1;
$color-grey-borders: #9d9d9d;
$color-grey-main: #4f4f4f;
$color-error: #f74242;
$color-success: #69f24b;
$main-font: "Montserrat";
$logo-font: "Josefin Sans";

body {
    font-family: $main-font, sans-serif;
    color: $color-grey-main;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: all 0.15s ease-in-out;
}

.flash-error {
    display: none;
    position: fixed;
    top: 2%;
    right: 1%;
    display: flex;
    justify-content: space-around;
    min-width: 25vw;
    max-width: 60vw;
    border-left: 5px solid $color-error;
    border-radius: 5px;
    padding: 2%;
    background-color: $color-grey-bg;
    transition: all 0.2s ease-in-out;

    div {
        margin: 0% 5%;

        h1 {
            font-weight: bold;
            font-size: 1rem;
            line-height: 1.3rem;
        }
    
        p {
            font-size: 0.85rem;
            font-weight: 500;
            line-height: 1.3rem;
            color: $color-grey-main;
        }
    }

    .flash-icon {
        font-size: 2rem;
        color: $color-error;
        align-self: center;
    }

    .flash-close {
        cursor: pointer;
        font-size: 1.7rem;
        color: $color-grey-borders;
        align-self: center;
    }
}

.flash-success {
    position: fixed;
    top: 2%;
    right: 1%;
    display: flex;
    justify-content: space-around;
    min-width: 25vw;
    max-width: 100vw;
    border-left: 5px solid $color-success;
    border-radius: 5px;
    padding: 2%;
    background-color: $color-grey-bg;
    transition: all 0.2s ease-in-out;
    
    div {
        margin: 0% 5%;

        h1 {
            font-weight: bold;
            font-size: 1rem;
            line-height: 1.3rem;
        }
    
        p {
            font-size: 0.85rem;
            font-weight: 500;
            line-height: 1.3rem;
            color: $color-grey-main;
        }
    }

    .flash-icon {
        font-size: 2rem;
        color: $color-success;
        align-self: center;
    }

    .flash-close {
        cursor: pointer;
        font-size: 1.7rem;
        color: $color-grey-borders;
        align-self: center;
    }
}