<% include ../partials/head %>

<% include ../partials/flash %>

<div class="columns main">
    <div class="column is-two-fifths main-left"></div>
    <div class="column auto main-right">
        <a href="/"><img id="logo" src="/imgs/logo-white.png" alt="Rocket Jobs logo"></a>
        <div class="login-form">
            <h1>Já tens uma conta?</h1>
            <h2>Entra agora e começa a tua busca</h2>
            <form action="/login" method="POST">
                <div class="input-box">
                    <input type="text" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <button>Entra</button>
            </form> 
        </div>
        <div class="register-form">
            <h1>Ainda não estás inscrito?</h1>
            <h2>Vem fazer parte</h2>
            <div class="business-register-btn">
                <a href="/register">Sou uma empresa</a>
            </div>
            <div class="talent-register-btn" >
                <a href="/register">Sou um talento</a>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer-alt %>
