<% include ../partials/head %>

<div class="columns main">
    <div class="column is-two-fifths main-left"></div>
    <div class="column auto main-right">
        <a href="/"><img id="logo" src="/imgs/logo-white.png" alt="Rocket Jobs logo"></a>
        <h1>Hello!</h1>
    </div>
</div>
