main > p {
    position: relative;
    // box-shadow: -1px 1px 3px $color-grey-bg-border;
    top: -2vh;
    display: inline-block;
    // margin-left: 5%;
    padding: 2px 10px;
    background-color: white;
    text-align: center;
    line-height: 20px;
    font-size: 0.75rem;
    font-weight: 500;

    a {
        color: $color-primary;
        font-weight: normal;
    }

    span {
        font-weight: normal;
    }
}

.job-page {
    position: relative;
    background-color: white;
    margin: 0% 0% 2% 0%;
    padding: 5% 10%;
    box-shadow: -1px 1px 3px $color-grey-bg-border;

    .job-page-image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -4%;
        top: 10vh;
        overflow: hidden;
        border: 1px solid $color-grey-bg-border;
        width: 80px;
        height: 80px;
        background-color: white;
        

        img {
            max-height: 70px;
            max-width: 70px;
        }
    }

    .job-page-meta-top {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 0.85rem;
    }

    h1 {
        margin: 7% 0% 3% 0%;
        font-size: 1.8rem;
        font-weight: 500;
        color: $color-primary;
    }

    .job-page-meta-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 7%;

        div:first-of-type {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: max-content;
            white-space: nowrap;

            p:first-of-type {
                margin-right: 10px;
                font-size: 1rem;
                font-weight: 500;
                transition: all 0.15s ease-in-out;

                &:hover {
                    opacity: 0.7;
                }
            }

            .divider {
                font-size: 0.5rem;
                color: $color-grey-bg-border;
                line-height: 1.25rem;
            }

            p:nth-of-type(2n) {
                font-size: 0.85rem;
                text-transform: uppercase;
                line-height: 1.25rem;
                margin-left: 10px;
            }
        }
    }

    .column {
        padding: 0% 2.5%;
    }

    h2 {
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.35rem;
        margin: 7% 0% 3% 0%;

        span {
            margin-right: 15px;
            color: $color-primary;
            font-size: 1.2rem;
        }
    }

    .job-page-skills, .job-page-description, .job-page-benefits {
        font-size: 0.85rem;
        line-height: 1.15rem;
    }

    .job-page-skills li {
        font-weight: 500;
        margin: 3% 0%;

        span {
            color: $color-primary;
        }
    }

    .job-page-description p {
        margin: 0% 0% 3% 0%;
        letter-spacing: 0.2px;
        white-space: pre-wrap;
    }

    .job-page-benefits li {
        font-weight: 500;
        margin: 5% 0%;
    }
}
.job-columns {
    margin-top: 4%;
}

.job-admin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
    margin-bottom: 5%;
    background-color: white;
    box-shadow: -1px 1px 3px $color-grey-bg-border;

    h1 {
        align-self: center;
        margin-bottom: 5%;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        // font-weight: 500;
        color: $color-primary;
    }

    .job-admin-control {
        position: relative;
        display: flex;
    
        a {
            height: 100%;
            width: 100%;
            margin: 0% 2.5%;
            font-size: 0.85rem;
            line-height: 2rem;
            text-align: center;
            box-shadow: -1px 1px 3px $color-grey-bg-border;
            transition: all 0.15s ease-in-out;
    
            &:hover {
                transform: scale(1.02);
            }
    
            &:first-of-type {
                background-color: $color-grey-bg;
                color: $color-primary;
            }
        }
        
        form {
            width: 100%;
            margin: 0% 2.5% 0% 2.5%;
    
            button {
                cursor: pointer;
                border: none;
                outline: none;
                font-family: inherit;
                height: 100%;
                width: 100%;
                font-size: 0.85rem;
                line-height: 2rem;
                background-color: $color-primary;
                color: white;
                box-shadow: -1px 1px 3px $color-grey-bg-border;
                transition: all 0.15s ease-in-out;
                
                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }
    

}

.section-apply {
    height: 15vh;
    margin-bottom: 5%;
    box-shadow: -1px 1px 3px $color-grey-bg-border;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: $color-primary;
        transition: all 0.15s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }
    }

    a {
        font-size: 1.8rem;
        font-weight: 500;
        text-align: center;
        background-color: $color-primary;
        color: white;
    }

}

.job-advice > a {
    margin-bottom: 0% !important;
}


@media (max-width: 768px) {
    .job-page {
        margin: 4% 0% 0% 0%;
        padding-bottom: 6vh;

        .job-page-image {
            position: absolute;
            left: -5%;
            top: 10vh;
            width: 70px;
            height: 70px;
    
            img {
                max-height: 70px;
                max-width: 70px;
            }
        }
    
        .job-page-meta-top {
            font-size: 0.75rem;
        }
    
        h1 {
            margin: 6vh 0% 3vh 20%;
            font-size: 1.2rem;
        }
    
        .job-page-meta-bottom {
            margin: 0% 0% 7% 20%;
    
            div:first-of-type {
                p:first-of-type {
                    margin-right: 7px;
                    font-size: 0.85rem;
                    line-height: 1.15rem;
                }
    
                .divider {
                    font-size: 0.4rem;
                    line-height: 1.15rem;
                }
    
                p:nth-of-type(2n) {
                    font-size: 0.65rem;
                    line-height: 1.25rem;
                    margin-left: 7px;
                }
            }
        }
    
        .column {
            padding: 0% 2.5%;
        }
    
        h2 {
            margin-top: 6vh;
            font-size: 1rem;
    
            span {
                margin-right: 10px;
                font-size: 1rem;
            }
        }
    
        .job-page-skills, .job-page-description, .job-page-benefits {
            font-size: 0.75rem;
            line-height: 1.15rem;
        }
    
        .job-page-skills li {
            font-weight: 500;
            margin: 3% 0%;
    
            span {
                color: $color-primary;
            }
        }
    
        .job-page-description p {
            margin: 0% 0% 1vh 0%;
        }
    
        .job-page-benefits li {
            font-weight: 500;
            margin: 5% 0%;
        }
    }    

    .section-apply {
        height: 13vh;
        margin-bottom: 6vh;
    
        a {
            font-size: 1.6rem;
        }  
    }

    .job-columns {
        margin-top: 0%;
    }
}