main {
    background-color: $color-grey-bg;
    border-top: 1px solid $color-grey-bg-border;
    padding-bottom: 5%;
}

main > h1 {
    font-size: 1.3rem;
    margin: 2% 10% 0% 10%;
}
.columns {
    margin: 0% 10%;

        .job-card {
            position: relative;
            background-color: white;
            margin: 0% 0% 2% 0%;
            padding: 2% 5% 2% 10%;
            box-shadow: -1px 1px 3px $color-grey-bg-border;
                
            .job-card-image {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: -4%;
                top: 14%;
                overflow: hidden;
                border: 1px solid $color-grey-bg-border;
                width: 80px;
                height: 80px;
                background-color: white;
                

                img {
                    max-height: 70px;
                    max-width: 70px;
                }
            }

            .job-card-meta-top {
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;
                font-size: 0.85rem;
            }

            h2 {
                margin: 3% 0%;
                font-size: 1.5rem;
                font-weight: 500;
                color: $color-primary;

                a:hover {
                    opacity: 0.7;
                }
            }

            .job-card-meta-bottom {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                div:first-of-type {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    width: max-content;
                    white-space: nowrap;
    
                    p:first-of-type {
                        margin-right: 10px;
                        font-size: 0.85rem;
                        font-weight: 500;
                        transition: all 0.15s ease-in-out;

                        &:hover {
                            opacity: 0.7;
                        }
                    }
    
                    .divider {
                        font-size: 0.5rem;
                        color: $color-grey-bg-border;
                        line-height: 1rem;
                    }
    
                    p:nth-of-type(2n) {
                        font-size: 0.75rem;
                        text-transform: uppercase;
                        line-height: 1rem;
                        margin-left: 10px;
                    }
                }
                
                ul {
                    display: flex;
                    justify-content: flex-end;
                    list-style: none;
                    max-width: 60%;
                    white-space: normal;
                    text-align: right;
                    font-weight: 500;
                    font-size: 0.85rem;

                    li {
                        padding-left: 15px;

                        span {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    
    section {
        background-color: white;

        &.section-auth {
            margin-bottom: 5%;
            padding: 10%;
            box-shadow: -1px 1px 3px $color-grey-bg-border;

            h1 {
                font-size: 1.3rem;
                color: $color-primary;
            }

            p {
                margin: 7% 0%;
                font-size: 0.85rem;
                line-height: 1.1rem;
            }

            a:first-of-type {
                display: block;
                margin: 5% 0% 5% 0%;
                padding: 5% 0%;
                background-color: $color-grey-bg;
                color: $color-primary;
                text-decoration: none;
                text-align: center;
                font-size: 0.9rem;

                &:hover {
                    transform: scale(1.02);
                }
            }

            a:nth-of-type(2n) {
                display: block;
                padding: 5% 0%;
                background-color: $color-primary;
                color: white;
                text-decoration: none;
                text-align: center;
                font-size: 0.9rem;

                &:hover {
                    transform: scale(1.02);
                }
            }
        }

        &.section-advert {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 7% 5%;
            transition: all 0.15s ease-in-out;
            box-shadow: -1px 1px 3px $color-grey-bg-border;

            &:hover {
                transform: scale(1.02);
            }

            #advert-image {
                display: block;
                width: 100%;
                height: 100%;
                min-width: 0;
                padding: 2%;
                // border: 1px solid $color-grey-bg-border;
            }

            #advert-text {
                margin-left: 4%;
            }

            h1 {
                margin-bottom: 3%;
                font-size: 1rem;
                color: $color-primary;
            }

            p {
                font-size: 0.7rem;
                letter-spacing: 0.3px;
                line-height: 0.85rem;
            }
        }

        &.section-user {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5%;
            padding: 0% 10% 10% 10%;
            box-shadow: -1px 1px 3px $color-grey-bg-border;

            h1 {
                margin-bottom: 3%;
                font-size: 1.5rem;
                font-weight: 500;
                color: $color-primary;
                text-align: center;
            }

            .user-profile-image {
                position: relative;
                top: -5vh;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                margin: 0%;
                border: 1px solid $color-grey-bg-border;
                border-radius: 50%;
                width: 110px;
                height: 110px;
                background-color: white;
    
                img {
                    max-height: 100px;
                    max-width: 100px;
                }
            }
            
            #open-user-options-btn {
                cursor: pointer;
                position: absolute;
                top: 15px;
                right: 15px;
                color: $color-grey-borders;
                font-size: 1.2rem;
            }

            .user-options {
                margin: 10% 0% 0% 0%;

                p {
                    cursor: pointer;
                    font-size: 0.85rem;
                    line-height: 1.5rem;
                    color: $color-grey-main;
                    transition: all 0.25s ease-in-out;

                    &:hover {
                        color: $color-primary;
                    }
                }
                
                span {
                    margin-right: 0.5rem;
                    font-size: 1rem;
                    transition: all 0.25s ease-in-out;
                    color: $color-primary;
                }
            }
        }
    }
}

#input-window-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // width: 100vw;
    // height: 100vh;
    z-index: 10;
    opacity: 1;
    // pointer-events: none;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.25s ease-in-out;

    .image-input-window {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        width: 50vw;
        height: 60vh;
    }
    
    h1 {
        position: absolute;
        top: 25px;
        left: 30px;
        font-size: 1.2rem;
        width: 80%;
        padding-bottom: 15px;
        border-bottom: 2px solid $color-grey-bg;
        color: $color-primary;
    }

    span {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 2rem;
        color: $color-grey-bg-border;
        transition: all 0.25s ease-in-out;

        &:hover {
            color: $color-grey-borders;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;

        .btn {
            position: relative;
            border: 2px solid $color-grey-bg;
            border-radius: 50px;
            padding: 3% 5%;
            margin: 10vh 0%;
            transition: all 0.25s ease-in-out;

            &:hover {
                border: 2px solid $color-primary;
            }

            input {
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                min-height: 100%;
                min-width: 100%;
                border-radius: 50px;
                opacity: 0;
            }
        }

        button {
            cursor: pointer;
            position: absolute;
            bottom: 20px;
            border: none;
            outline: none;
            background: $color-primary;
            color: white;
            border-radius: 50px;
            width: 30%;
            height: 35px;
            font-family: inherit;
            font-size: 1rem;
            box-shadow: -1px 1px 3px $color-grey-bg-border;
            transition: all 0.25s ease-in-out;

            &:hover {
                transform: scale(1.02);
            }
        }
    }
}

#delete-window-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.25s ease-in-out;

    .delete-window {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        width: 50vw;
        height: 40vh;
    }
    
    h1 {
        position: absolute;
        top: 25px;
        left: 30px;
        font-size: 1.2rem;
        width: 80%;
        padding-bottom: 15px;
        border-bottom: 2px solid $color-grey-bg;
        color: $color-primary;
    }

    span {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 2rem;
        color: $color-grey-bg-border;
        transition: all 0.25s ease-in-out;

        &:hover {
            color: $color-grey-borders;
        }
    }

    .user-decision-input {
        display: flex;
        justify-content: center;
        width: 80%;
        margin-top: 5vh;

        form {
            display: none;
        }

        .confirm-delete-user-btn, .cancel-delete-user-btn {
            background-color: $color-primary;
            color: white;
            height: 40px;
            width: 70%;
            margin: 0% 2.5%;
            line-height: 40px;
            text-align: center;
            font-size: 0.9rem;
            border-radius: 50px;
            box-shadow: -1px 1px 3px $color-grey-bg-border;
            transition: all 0.25s ease-in-out;

            &:hover {
                transform: scale(1.02);
            }
        }

        .cancel-delete-user-btn {
            background-color: $color-grey-bg;
            color: $color-primary;
        }
    }
}

.hide {
    display: none !important;
}