.main {
    min-height: 100vh;
    margin: 0% 0%;
    
    &:not(:last-child) {
        margin: 0;
    }

    h1 {
        color: $color-primary;
        font-size: 1.7rem;
        font-weight: bold;
        line-height: 2.5rem;
    }

    h2 {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }

    #logo {
        display: inline-block;
        margin-top: 2%;
        width: 160px;
        position: absolute;
        top: 0;
        left: 2%;
    }
}

.main-right {
    margin: 0% 5%;
    display: flex;
    flex-direction: column;

    .login-form {
        margin-top: 5%;

        button {
            cursor: pointer;
            margin-top: 2%;
            border: none;
            padding: 12.5px 0%;
            width: 25%;
            background-color: $color-grey-bg;
            color: $color-grey-bg-border;
            text-decoration: none;
            text-align: center;
            font-family: inherit;
            font-size: 0.9rem;
            box-shadow: -1px 1px 3px $color-grey-bg-border;
            transition: all 0.15s ease-in-out;

            &:hover {
                transform: scale(1.02);
            }
        }

        .input-box {
            position: relative;
            display: flex;
            align-items: flex-end;
            margin-top: 2%;
            border-bottom: 3px solid $color-grey-bg;
            padding: 5px 2.5%;
            height: 40px;
            width: 60%;

            label {
                position: absolute;
                left: 1vw;
                top: 40%;
                transition: all 0.25s ease-in-out;
                pointer-events: none;
                font-family: inherit;
                font-size: 0.90rem;
                font-weight: 500;
                color: $color-grey-borders;
            }

            input {
                border: none;
                height: 70%;
                width: 100%;
                align-self: flex-end;
                background: transparent;
                outline: none;
                font-family: inherit;
                font-weight: normal;
                color: $color-grey-main;

                &:invalid {
                    box-shadow: none;
                }

                &:focus ~ label, &:not(:focus):valid ~ label {
                    top: 6px;
                    left: 6px;
                    font-size: 0.65rem;
                    font-weight: 500;
                    color: $color-primary;
                }
            }
        }
    }

    .register-form {
        margin-top: 12.5%;
        width: 70%;
        align-self: flex-end;
        text-align: right;

        // h2 {
        //     margin-bottom: 7%;
        // }

        div {
            margin: 5% 0% 0% 2.5%;
            padding: 12.5px 2.5%;
            width: 40%;
            display: inline-block;
            background-color: $color-grey-bg;
            text-align: center;
            color: $color-primary;
            box-shadow: -1px 1px 3px $color-grey-bg-border;
            transition: all 0.15s ease-in-out;

            a {
                width: 100%;
                text-decoration: none;
                text-align: center;
                font-family: inherit;
                font-size: 0.9rem;
            }

            &:hover {
                transform: scale(1.02);
            }

            &:nth-of-type(2n) {
                background-color: $color-primary;
                color: white;
            }
        }
    }
}

.main-left {
    background: url("/imgs/login-page-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 130%
}