.job-post-form-title {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    // margin: 0% 15%;

    .submit-job-form-btn {
        cursor: pointer;
        width: 20%;
        border: none;
        padding: 15px;
        align-self: center;
        font-family: inherit;
        font-size: 1.8rem;
        font-weight: 500;
        text-align: center;
        background-color: $color-primary;
        color: white;
    }

    .wrapper {
        margin: 25px 15%;
        padding: 2.5% 0%;
        background-color: white;

        .job-offer-post {
            margin: 0% 15%;
        }

        textarea {
            box-sizing: border-box;
            white-space: pre-wrap;
            width: 100%;
            height: 150px;
            margin: 1% 0% 2% 0%;
            padding: 2%;
            border: none;
            border: 3px solid $color-grey-bg;
            // border-left: 5px solid $color-grey-bg;
            font-family: inherit;
            font-size: 0.85rem;
            color: inherit;
        }

        .horizontal-input {
            display: flex;
            justify-content: space-between;
            
            .input-box:first-of-type {
                width: 50%;
            }
            .input-box:nth-of-type(2n) {
                width: 35%;
            }
        }

        .input-box {
            position: relative;
            display: flex;
            align-items: flex-end;
            margin: 2% 0%;
            border-bottom: 3px solid $color-grey-bg;
            padding: 5px 2.5%;
            height: 40px;

            label {
                position: absolute;
                left: 1vw;
                top: 40%;
                transition: all 0.25s ease-in-out;
                pointer-events: none;
                font-family: inherit;
                font-size: 0.90rem;
                font-weight: 500;
                color: $color-primary;
            }

            input {
                border: none;
                height: 70%;
                width: 100%;
                align-self: flex-end;
                background: transparent;
                outline: none;
                font-family: inherit;
                font-weight: normal;
                color: $color-grey-main;

                &:invalid {
                    box-shadow: none;
                }

                &:focus ~ label, &:not(:focus):valid ~ label {
                    top: 6px;
                    left: 6px;
                    font-size: 0.65rem;
                    font-weight: 500;
                    color: $color-primary;
                }
            }
        }

        .company {
            display: flex;
            flex-direction: row;
            margin-bottom: 2%;

            .company-image {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border: 1px solid $color-grey-bg-border;
                width: 80px;
                height: 80px;
                background-color: white;
                
                img {
                    max-height: 70px;
                    max-width: 70px;
                }
            }

            .input-box {
                align-self: flex-end;
                margin: 0% 0% 0% 2%;
                width: 50%;
            }
        }

        .job-form-filters .benefit > label {
            font-size: 0.85rem;
        }

        .job-form-filters > .columns {
            margin: 0%;
        }

        .job-description, .job-form-filters {
            margin-top: 3%;

            p {
                color: $color-primary;
                font-size: 0.90rem;
                font-weight: 500;
                margin: 3% 0% 0% 1vw;
            }
            hr {
                border: none;
                border-bottom: 3px solid $color-grey-bg;
                opacity: 0.8;
                margin: 1% 0%;
            }

            input[type=checkbox] {
                display: none;

            }

            .columns {
                margin: 0% 2%;
                
                .column {
                    padding: 0;
                }

                li {
                    list-style: none;
                    margin: 10% 0%;
                    font-size: 0.85rem;
                    letter-spacing: 0.3px;
                    
                    &:hover > label {
                        color: $color-primary;
                    }
                }

                label {
                    cursor: pointer;
                }
            }
        }
    }
}