.main-body-reg {
    display: flex;
    align-content: center;
    justify-content: center;
}

.register-page-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1, h2 {
        align-self: center;
        text-align: center;
    }

    h2 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    form {
        margin-top: 7%;

        .input-buttons {
            display: flex;
            justify-content: center;
            margin-bottom: 7%;

            div {
                width: 40%;
                margin: 0% 2.5% 2% 2.5%;
            }

            input {
                display: none;
            }

            label {
                cursor: pointer;
                padding: 12.5px 2.5%;
                width: 100%;
                display: inline-block;
                background-color: $color-grey-bg;
                color: $color-primary;
                text-align: center;
                font-size: 0.9rem;
                box-shadow: -1px 1px 3px $color-grey-bg-border;
                transition: all 0.15s ease-in-out;
            }

            input:checked ~ label {
                background-color: $color-primary;
                color: white;
            }
        }

        button {
            cursor: pointer;
            align-self: center;
            margin-top: 10%;
            border: none;
            padding: 12.5px 0%;
            width: 25%;
            background-color: $color-grey-bg;
            color: $color-grey-bg-border;
            text-decoration: none;
            text-align: center;
            font-family: inherit;
            font-size: 0.9rem;
            box-shadow: -1px 1px 3px $color-grey-bg-border;
            transition: all 0.15s ease-in-out;

            &:hover {
                transform: scale(1.02);
            }
        }
    }

    .input-box {
        position: relative;
        display: flex;
        align-items: flex-end;
        margin-top: 2%;
        border-bottom: 3px solid $color-grey-bg;
        padding: 5px 2.5%;
        height: 40px;
        width: 100%;

        label {
            position: absolute;
            left: 1vw;
            top: 40%;
            transition: all 0.25s ease-in-out;
            pointer-events: none;
            font-family: inherit;
            font-size: 0.90rem;
            font-weight: 500;
            color: $color-grey-borders;
        }

        input {
            border: none;
            height: 70%;
            width: 100%;
            align-self: flex-end;
            background: transparent;
            outline: none;
            font-family: inherit;
            font-weight: normal;
            color: $color-grey-main;

            &:invalid {
                box-shadow: none;
            }

            &:focus ~ label, &:not(:focus):valid ~ label {
                top: 6px;
                left: 6px;
                font-size: 0.65rem;
                font-weight: 500;
                color: $color-primary;
            }
        }
    }

    .input-terms {
        margin-top: 7%;
        font-size: 0.85rem;

        input:hover {
            border-color: yellow;
        }
    }
}
